@import url(fonts.css);
/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 9, ../sass/style.scss */
body {
  background: #000;
  color: #fff;
  font-family: "OswaldBook";
  text-transform: lowercase; }
  @media only screen and (min-width: 990px) {
    /* line 9, ../sass/style.scss */
    body {
      font-size: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 989px) {
    /* line 9, ../sass/style.scss */
    body {
      font-size: 20px; } }
  @media only screen and (max-width: 767px) {
    /* line 9, ../sass/style.scss */
    body {
      font-size: 16px; } }

/* line 24, ../sass/style.scss */
.wrapper {
  font-size: 80%;
  margin: 40px 10%;
  padding-bottom: 116px;
  position: relative; }
  @media only screen and (max-device-width: 480px) {
    /* line 24, ../sass/style.scss */
    .wrapper {
      margin: 10px; } }
  @media only screen and (min-width: 768px) and (max-width: 989px) {
    /* line 24, ../sass/style.scss */
    .wrapper {
      font-size: 100%; } }
  @media only screen and (max-width: 767px) {
    /* line 24, ../sass/style.scss */
    .wrapper {
      font-size: 100%; } }

/* line 41, ../sass/style.scss */
.row {
  margin-bottom: 20px; }
  @media only screen and (max-device-width: 480px) {
    /* line 41, ../sass/style.scss */
    .row {
      margin-bottom: 0; } }

/* line 53, ../sass/style.scss */
h1 {
  font-family: "OswaldBold";
  margin-bottom: 20px; }
  @media only screen and (min-width: 990px) {
    /* line 53, ../sass/style.scss */
    h1 {
      font-size: 90px;
      letter-spacing: -5px; } }
  @media only screen and (min-width: 768px) and (max-width: 989px) {
    /* line 53, ../sass/style.scss */
    h1 {
      font-size: 50px; } }
  @media only screen and (max-width: 767px) {
    /* line 53, ../sass/style.scss */
    h1 {
      font-family: "OswaldBook";
      font-size: 40px; } }

/* line 68, ../sass/style.scss */
p, li {
  line-height: 1.2em; }

/* line 73, ../sass/style.scss */
h1 span,
h2 span,
p span {
  background: rgba(0, 0, 0, 0.75);
  display: inline-block; }

/* line 77, ../sass/style.scss */
h1 span {
  padding: 20px 20px 10px 20px; }
  @media only screen and (max-device-width: 480px) {
    /* line 77, ../sass/style.scss */
    h1 span {
      padding: 10px 10% !important;
      width: 80% !important; } }
  @media only screen and (max-width: 767px) {
    /* line 77, ../sass/style.scss */
    h1 span {
      padding: 20px;
      width: 260px; } }

/* line 91, ../sass/style.scss */
h2 span,
p span {
  padding: 20px; }
  @media only screen and (max-device-width: 480px) {
    /* line 91, ../sass/style.scss */
    h2 span,
    p span {
      padding: 10px 10% !important;
      width: 80% !important; } }
  @media only screen and (max-width: 767px) {
    /* line 91, ../sass/style.scss */
    h2 span,
    p span {
      line-height: 1.5em;
      padding: 10px 20px;
      width: 260px; } }

/* line 104, ../sass/style.scss */
h2 span {
  padding-bottom: 0; }

@media only screen and (max-width: 767px) {
  /* line 107, ../sass/style.scss */
  p:last-child span {
    padding-bottom: 20px; } }

/* line 118, ../sass/style.scss */
a {
  color: #fff; }

/* line 121, ../sass/style.scss */
.footer {
  bottom: 20px;
  height: 76px;
  position: absolute;
  right: 0; }
  @media only screen and (max-width: 767px) {
    /* line 121, ../sass/style.scss */
    .footer {
      bottom: 0;
      left: 0;
      margin-top: 20px;
      position: relative; } }

/* line 136, ../sass/style.scss */
.footer span {
  margin-left: 20px; }
  @media only screen and (max-width: 767px) {
    /* line 136, ../sass/style.scss */
    .footer span {
      margin-bottom: 20px;
      margin-left: 0;
      padding-bottom: 20px; } }
