// Variables

$red:#550000;
$cream:#d6dcb5;
$brown:#7e7f5c;
$white:#fff;
$green:#749162;
$darkGreen:#668155;
$black:#000;

$mainFont:'Roboto', sans-serif;
$headerFont:'Roboto Condensed', sans-serif;
$slabFont:'Roboto Slab', serif;

// mixins
@mixin v-p($name, $argument) {

  -webkit-#{$name}:$argument;
  -ms-#{$name}:$argument;
  -moz-#{$name}:$argument;
  -o-#{$name}:$argument;
  #{$name}:$argument;
}

/*Mobile Portrait*/
@media screen and (min-width:320px) {
}

/*Mobile Landscape*/
@media screen and (min-width:480px) {
}

/*Tablet Portrait*/
@media screen and (min-width:768px) {
}

/*Tablet Landscape*/
@media screen and (min-width:992px) {
}

/*Desktop*/
@media screen and (min-width:1382px) {
}

*
{
  margin:0;
  padding:0;
}

body
{
  background:$green;
  font-family:$mainFont;
  color:$cream;

}

.wrapper{
  margin:30px auto;
  max-width:700px;
  padding-bottom:100px;
}

.header{
  text-align:center;
  margin-bottom:40px;
}

.avatar
{
  background:$cream;
  border-radius:50%;
  height:100px;
  margin:10px auto;
  padding:2px;
  width:100px;
}

h1,
h3
{
  color:$white;
  font-family:$headerFont;
  font-size:40px;
  letter-spacing:-1px;
  text-transform:uppercase;
}

h1{
  margin-bottom:0;
}

h3
{
  letter-spacing:0;
}

b{
  //font-family:$headerFont;
  text-transform:uppercase;
}

.note{
  font-size:12px;
  border-bottom: 1px solid $darkGreen;
  border-top: 1px solid $darkGreen;
  padding:15px 10px;

  &:last-child{
    border-bottom:none;
    padding-bottom:0;
  }
}

.strap{
  color:$white;
  font-family:$slabFont;
}

.work-title
{
  font-size:1em;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:.05em;
}

p
{
  line-height:1.5;
  margin-bottom:20px;
  @include v-p(hyphens, auto);

}

i{
  color:$white;
}

a
{
  display:inline-block;
  background:$darkGreen;
  color:$white;
  padding:0 3px;
  text-decoration:none;
  word-wrap: break-word;
  @include v-p(hyphens, auto);

  @include v-p(transition, all 0.25s);

  &:hover
  {
    background:$black;
    color:$white;
  }
  i{
    font-size:12px;
    font-style:normal;
    color:$cream;
  }

}

.ui
{
  .divider
  {
    color:$white;
    font-family:$slabFont;

    &:before,
    &:after
    {

    }
    &.sub-header{
      font-size:10px;
      font-style:italic;
    }
  }
  .icon
  {
    color:$white;
  }

  .project-name
  {
    font-size:16px;
    margin-bottom:0;
  }
  .work-meta
  {
    display:block;
    font-size:12px;
    text-transform:none;
    dt, dd
    {
      display:inline-block;
      line-height:14px;
    }
    dd
    {
      font-weight:bold;
    }

  }

}

@media screen and (min-width:320px) {
}

@media screen and (min-width:768px) {
}
