// Variables

$red:#550000;
$cream:#d6dcb5;
$brown:#7e7f5c;
$white:#fff;
$green:#749162;
$darkGreen:#668155;
$black:#000;
$darkGrey:#2D2D2D;
$lightGrey: rgba(59,59,59, 0.75);

$mainFont:'Roboto', sans-serif;
$headerFont:'Roboto Condensed', sans-serif;
$slabFont:'Roboto Slab', serif;
$bodyFont: 'Lato', sans-serif;


// mixins
@mixin v-p($name, $argument) {

  -webkit-#{$name}:$argument;
  -ms-#{$name}:$argument;
  -moz-#{$name}:$argument;
  -o-#{$name}:$argument;
  #{$name}:$argument;
}


*
{
  margin:0;
  padding:0;
}

body
{
  background:$darkGrey;
  font-family:$bodyFont;
  color:$cream;
  line-height:1;
}

.wrapper{
  margin:30px auto;
  max-width:500px;
  padding-bottom:100px;
}

.header{
  text-align:center;
  margin-bottom:40px;
}

.column{
  &.sixteen{
    border-bottom:1px dotted $cream;
    padding-bottom:40px!important;
    margin-bottom:30px;
  }
}

.avatar
{
  background:$cream;
  //border-radius:50%;
  height:100px;
  margin:10px auto;
  padding:2px;
  width:100px;
}

h1,
h2,
h3
{
  color:$cream;
  font-size:30px;
  line-height:1;
}

h1{
  font-family:$headerFont;
  letter-spacing:-1px;
  margin-bottom:20px;
}

h2{
  font-size:16px;
  margin-bottom:5px;
}

h3
{
  font-size:16px;
  margin-bottom:3px;
}

h2, h3{
  color:$white;
  font-weight:normal;
  line-height:1.5;

}

p
{
  line-height:1.8;
  margin-bottom:20px;
  text-align:justify;
  @include v-p(hyphens, auto);

  &.strap{
    color:$white;
    font-size:16px;
    line-height:1.2em;
    text-align:center;

    a{
      text-decoration:none;
    }

  }

}

i{
  color:$white;
}

a
{
  display:inline-block;
  background:$lightGrey;
  color:$white;
  padding:3px;
  text-decoration:underline;
  word-wrap: break-word;
  @include v-p(hyphens, auto);

  @include v-p(transition, all 0.25s);

  &:hover
  {
    background:$black;
    color:$white;
  }
  i{
    font-size:12px;
    font-style:normal;
    color:$cream;
  }

}

/*Mobile Portrait*/
@media screen and (min-width:320px) {



}

/*Mobile Landscape*/
@media screen and (min-width:480px) {

  h1{
    font-size:40px;
    margin-bottom:20px;
  }

  p
  {
    line-height:1.8;
    margin-bottom:20px;
    text-align:justify;
    @include v-p(hyphens, auto);

    &.strap{
      color:$white;
      font-size:20px;
      line-height:1.2em;
      text-align:center;
    }

  }

}

/*Tablet Portrait*/
@media screen and (min-width:768px) {

  h1{
    font-size:100px;
    margin-bottom:20px;
  }
  h2{
    font-size:20px;
  }

  h3
  {
    font-size:16px;
  }

}

/*Tablet Landscape*/
@media screen and (min-width:992px) {
}

/*Desktop*/
@media screen and (min-width:1382px) {
}

